In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
Path.cwd()

PosixPath('/home/robertfth/projects/Premier-League-Fantasy')

In [3]:
df = pd.read_csv('data/2021-22/players_raw.csv',encoding = 'utf-8')

In [4]:
df_trim = df[['now_cost','total_points','first_name','second_name','element_type','team']]
df_trim

,now_cost,total_points,first_name,second_name,element_type,team
0,45,10,Bernd,Leno,1,1
1,40,0,Rúnar Alex,Rúnarsson,1,1
2,63,0,Willian,Borges Da Silva,3,1
3,96,44,Pierre-Emerick,Aubameyang,4,1
4,42,48,Cédric,Soares,2,1
...,...,...,...,...,...,...
732,45,0,Bruno André,Cavaco Jordão,3,20
733,44,6,Toti António,Gomes,2,20
734,40,0,Dion,Sanderson,2,20
735,45,0,Ryan,Giles,3,20
736,55,20,Francisco Jorge,Tomás Oliveira,3,20

In [5]:
GK = {}
DEF = {}
MID = {}
FWD = {}
for i in range(len(df_trim)):
    if df_trim["element_type"][i]==1:
        GK[df_trim["second_name"][i]] = {"points":df_trim["total_points"][i], 'cost':df_trim["now_cost"][i],"type":"GK","team":df_trim["team"][i]}
    if df_trim["element_type"][i]==2:
        DEF[df_trim["second_name"][i]] = {"points":df_trim["total_points"][i], 'cost':df_trim["now_cost"][i],"type":"DEF","team":df_trim["team"][i]}
    if df_trim["element_type"][i]==3:
        MID[df_trim["second_name"][i]] = {"points":df_trim["total_points"][i], 'cost':df_trim["now_cost"][i],"type":"MID","team":df_trim["team"][i]}
    if df_trim["element_type"][i]==4:
        FWD[df_trim["second_name"][i]] = {"points":df_trim["total_points"][i], 'cost':df_trim["now_cost"][i],"type":"FWD","team":df_trim["team"][i]}

In [6]:
def generateSquad():
    squad = {}
    for i in range(2):
        squad[max(GK,key = lambda x : GK.get(x)['points'])] = GK[max(GK,key = lambda x : GK.get(x)['points'])]
        del GK[max(GK,key = lambda x : GK.get(x)['points'])]
    for i in range(5):
        squad[max(DEF,key = lambda x : DEF.get(x)['points'])] = DEF[max(DEF,key = lambda x : DEF.get(x)['points'])]
        del DEF[max(DEF,key = lambda x : DEF.get(x)['points'])]
    for i in range(5):
        squad[max(MID,key = lambda x : MID.get(x)['points'])] = MID[max(MID,key = lambda x : MID.get(x)['points'])]
        del MID[max(MID,key = lambda x : MID.get(x)['points'])]
    for i in range(2):
        squad[max(FWD,key = lambda x : FWD.get(x)['points'])] = FWD[max(FWD,key = lambda x : FWD.get(x)['points'])]
        del FWD[max(FWD,key = lambda x : FWD.get(x)['points'])]
    return squad

In [18]:
def teamCount(x):
    teams = {}
    for k in x:
        teams.setdefault(x[k]["team"],0)
        teams[x[k]["team"]]+=1
    return teams

def costCount(x):
    cost = 0
    for i in x:
        cost += x[i]["cost"] 
    return cost

def removeTeam(teamList,teamNum):
    temp = {}
    for i in teamList:
        if teamList[i]["team"] == teamNum:
            temp[i] = teamList[i]
    position = temp[min(temp, key = lambda x : temp.get(x)['points'])]['type']
    del teamList[min(temp,key=lambda x:temp.get(x)["points"])]
    if position == 'GK':
        teamList[max(GK,key = lambda x : GK.get(x)['points'])] = GK[max(GK,key = lambda x : GK.get(x)['points'])]
        del GK[max(GK,key = lambda x : GK.get(x)['points'])]
    if position == 'DEF':
        teamList[max(DEF,key = lambda x : DEF.get(x)['points'])] = DEF[max(DEF,key = lambda x : DEF.get(x)['points'])]
        del DEF[max(DEF,key = lambda x : DEF.get(x)['points'])]
    if position == 'MID':
        teamList[max(MID,key = lambda x : MID.get(x)['points'])] = MID[max(MID,key = lambda x : MID.get(x)['points'])]
        del MID[max(MID,key = lambda x : MID.get(x)['points'])]
    if position == 'FWD':
        teamList[max(FWD,key = lambda x : FWD.get(x)['points'])] = FWD[max(FWD,key = lambda x : FWD.get(x)['points'])]
        del FWD[max(FWD,key = lambda x : FWD.get(x)['points'])]
    return teamList
def removeLowest(teamList):
    position = teamList[min(teamList,key=lambda x : teamList.get(x)['points'])]['type']
    del teamList[min(teamList,key=lambda x : teamList.get(x)['points'])]
    if position == 'GK':
        teamList[max(GK,key = lambda x : GK.get(x)['points'])] = GK[max(GK,key = lambda x : GK.get(x)['points'])]
        del GK[max(GK,key = lambda x : GK.get(x)['points'])]
    if position == 'DEF':
        teamList[max(DEF,key = lambda x : DEF.get(x)['points'])] = DEF[max(DEF,key = lambda x : DEF.get(x)['points'])]
        del DEF[max(DEF,key = lambda x : DEF.get(x)['points'])]
    if position == 'MID':
        teamList[max(MID,key = lambda x : MID.get(x)['points'])] = MID[max(MID,key = lambda x : MID.get(x)['points'])]
        del MID[max(MID,key = lambda x : MID.get(x)['points'])]
    if position == 'FWD':
        teamList[max(FWD,key = lambda x : FWD.get(x)['points'])] = FWD[max(FWD,key = lambda x : FWD.get(x)['points'])]
        del FWD[max(FWD,key = lambda x : FWD.get(x)['points'])]
def pointsCount(teamList):
    temp = teamList
    count = 0
    for i in range(11) :
        count+= temp[max(temp, key = lambda x: temp.get(x)['points'])]['points']
        del temp[max(temp, key = lambda x: temp.get(x)['points'])]
    return count

In [8]:
idealTeam = generateSquad()
idealTeam

{'Ramses Becker': {'points': 176, 'cost': 61, 'type': 'GK', 'team': 11},
 'Lloris': {'points': 158, 'cost': 55, 'type': 'GK', 'team': 17},
 'Alexander-Arnold': {'points': 208, 'cost': 84, 'type': 'DEF', 'team': 11},
 'Cancelo': {'points': 201, 'cost': 72, 'type': 'DEF', 'team': 12},
 'Robertson': {'points': 186, 'cost': 73, 'type': 'DEF', 'team': 11},
 'van Dijk': {'points': 183, 'cost': 68, 'type': 'DEF', 'team': 11},
 'Matip': {'points': 170, 'cost': 53, 'type': 'DEF', 'team': 11},
 'Salah': {'points': 265, 'cost': 131, 'type': 'MID', 'team': 11},
 'Son': {'points': 258, 'cost': 112, 'type': 'MID', 'team': 17},
 'Bowen': {'points': 206, 'cost': 69, 'type': 'MID', 'team': 19},
 'De Bruyne': {'points': 196, 'cost': 121, 'type': 'MID', 'team': 12},
 'Mané': {'points': 183, 'cost': 118, 'type': 'MID', 'team': 11},
 'Kane': {'points': 192, 'cost': 125, 'type': 'FWD', 'team': 17},
 'dos Santos Aveiro': {'points': 159, 'cost': 122, 'type': 'FWD', 'team': 13}}

In [10]:
while True:
    counter = teamCount(idealTeam)
    if all(v <= 3 for v in counter.values()) and costCount(idealTeam)>1000:
        break
    if any(v>3 for v in counter.values()):
        print(teamCount(idealTeam))
        tNumber = max(counter, key=counter.get)
        removeTeam(idealTeam,tNumber)
        print(teamCount(idealTeam))
    elif costCount(idealTeam)>1000:
        print("Cost Too much: " + costCount(idealTeam))
        removeLowest(idealTeam)
        print("Now: " + costCount(idealTeam))

{11: 7, 17: 3, 12: 2, 19: 1, 13: 1}
{11: 6, 17: 3, 12: 3, 19: 1, 13: 1}
{11: 6, 17: 3, 12: 3, 19: 1, 13: 1}
{17: 3, 11: 5, 12: 4, 19: 1, 13: 1}
{17: 3, 11: 5, 12: 4, 19: 1, 13: 1}
{17: 3, 11: 4, 12: 4, 19: 1, 13: 1, 6: 1}
{17: 3, 11: 4, 12: 4, 19: 1, 13: 1, 6: 1}
{17: 3, 11: 3, 12: 4, 19: 1, 13: 1, 6: 1, 9: 1}
{17: 3, 11: 3, 12: 4, 19: 1, 13: 1, 6: 1, 9: 1}
{17: 3, 11: 3, 12: 3, 19: 1, 13: 1, 6: 1, 9: 1, 20: 1}

In [14]:
idealTeam

{'Lloris': {'points': 158, 'cost': 55, 'type': 'GK', 'team': 17},
 'Alexander-Arnold': {'points': 208, 'cost': 84, 'type': 'DEF', 'team': 11},
 'Cancelo': {'points': 201, 'cost': 72, 'type': 'DEF', 'team': 12},
 'Robertson': {'points': 186, 'cost': 73, 'type': 'DEF', 'team': 11},
 'Salah': {'points': 265, 'cost': 131, 'type': 'MID', 'team': 11},
 'Son': {'points': 258, 'cost': 112, 'type': 'MID', 'team': 17},
 'Bowen': {'points': 206, 'cost': 69, 'type': 'MID', 'team': 19},
 'De Bruyne': {'points': 196, 'cost': 121, 'type': 'MID', 'team': 12},
 'Kane': {'points': 192, 'cost': 125, 'type': 'FWD', 'team': 17},
 'dos Santos Aveiro': {'points': 159, 'cost': 122, 'type': 'FWD', 'team': 13},
 'Laporte': {'points': 160, 'cost': 60, 'type': 'DEF', 'team': 12},
 'Rüdiger': {'points': 150, 'cost': 61, 'type': 'DEF', 'team': 6},
 'Maddison': {'points': 181, 'cost': 69, 'type': 'MID', 'team': 9},
 'Malheiro de Sá': {'points': 146, 'cost': 52, 'type': 'GK', 'team': 20}}

In [19]:
pointsCount(idealTeam)

2212